@font-face {
    font-family: "Glacial Indifference";
    src: url("../fonts/GlacialIndifference-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Glacial Indifference bold";
    src: url("../fonts/GlacialIndifference-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

:root {
    --fundo: #080D1A;
    --primario: #3c42a9;
    --secundario: #A78BFA;
    --terciario: #14B8A6;
    --amarelo: #978e0c;
    --hover: #1E293B;
    --base-font: 'Glacial Indifference', sans-serif;
    --bold: 'Glacial Indifference bold', sans-serif;
    --menu-font: 'Barlow Condensed', sans-serif;
}

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: var(--base-font);
    font-weight: normal;
    font-style: normal; 
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--fundo);
    overflow-x: hidden;
}


#pagina-inicial::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../images/bg-1.jpg");
    background-size: cover;
    opacity: 0.4;
    z-index: 0;
}

#pagina-inicial>* {
    position: relative;
    z-index: 1;
}

/* ==================== ASIDE / MENU ==================== */

nav{
    background-color: transparent;
}

#lista-menu {
    top: 26vh;
    left: clamp(2rem, 4vw, 5rem);
    position: fixed;
    transform: rotate(45deg);
    height: clamp(16rem, 20vw, 20rem);
    width: clamp(16rem, 20vw, 20rem);
    display: grid;
    gap: .4rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border-radius: 10px;
    opacity: 0.7;
    z-index: 200;
}

ul li a {
    color: inherit;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.item-menu {
    color: inherit;
    font-size: 1.6rem;
    font-family: var(--menu-font);
    letter-spacing: 1px;
    background-color: var(--primario);
}

.item-menu a {
    display: flex;
    align-items: center;
    transform: rotate(90deg);
    justify-content: center;
    
}

.item-menu a span {
    transform: rotate(-135deg);
}

#lista-menu > .item-menu:hover {
    background-color: var(--hover);
    color: var(--secundario);
    transform: scale(1.2);
    transition: background-color 0.6s, transform 0.9s, color 0.6s;
}

/* ==================== PROJETOS ==================== */

#pagina-projetos{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#pagina-projetos::before{
    content: "";
    position: absolute;
    margin-top: -15rem;
    width: 100vw;
    inset: 0;
    background-image: url("../images/bg-2.jpg");
    background-size: cover;
    opacity: 0.4;
    z-index: -10;
}

#projects{
    display: flex;
    width: 100%;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.project > *{
    width: 100%;
}

.project{
    position: relative;
    overflow: hidden;

    width: 50%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: .5rem;
    background-color: var(--primario);
    border-radius: 10px;
    margin-left: 5rem;
}

.project::before {
    content: "";
    position: absolute;
    inset: 0;

    background-color: var(--hover);

    transform: translateX(-100%);
    transition: transform 1.4s ease;

    z-index: 0;
}

.project:hover::before {
    transform: translateX(0);
}

.project>* {
    position: relative;
    z-index: 1;
}

.titulo-projeto{
    background: linear-gradient(to right,
                var(--amarelo) 50%,
                var(--fundo) 50%);
    
    background-size: 200% 100%;
    background-position: 100% 0%;

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    transition: background-position 1.4s ease;
}

.titulo-projeto a{
    color: var(--hover);
    font-size: 35pt;
    text-align: left;
    font-family: var(--menu-font);
    font-weight: 500;
    letter-spacing: 2px;
}

.project:hover .titulo-projeto {
    background-position: 0% 0%;
}

.project-header{
    text-align: center;
    font-size: 12pt;
}

/* ==================== MAIN / SEÇÕES ==================== */

main {
    width: min(1200px, calc(100% - 20rem));
    z-index: 100;
}

section {
    min-height: 100dvh;
    width: 100%;
}

.pagina{
    padding-left: 35rem;
}

/* ==================== TÍTULOS ==================== */

.titulo-principal {
    color: var(--secundario);
    font-size: 70pt;
    height: 4.5rem;
}

.titulo-principal-2 {
    color: var(--primario);
    font-size: 70pt;
}

.titulo-principal-3 {
    color: var(--secundario);
    font-size: 70pt;
}

#projetos{
    margin-bottom: 1.5rem;
    text-align: left;
    color: #cfc210;
}

.sub-titulo {
    font-size: 25pt;
    color: var(--terciario);
}


/* ==================== PÁGINA INICIAL ==================== */

#pagina-inicial {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding-top: 15rem;
    gap: 2rem;
}

#foto-perfil {
    border-radius: 100%;
    width: clamp(18rem, 28vw, 24jrem);
    height: clamp(16rem, 25vw, 20rem);
    margin-left: 2rem;
}


/* ==================== TECNOLOGIAS ==================== */

#pagina-tecnologias {
    position: relative;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#pagina-tecnologias::before {
    content: "";
    position: absolute;
    /* margin-top: -15rem; */
    width: 100vw;
    inset: 0;
    background-image: url("../images/bg-3.jpg");
    background-size: cover;
    opacity: 0.4;
    z-index: -1;
}

.stack-img{
    display: block;
    height: 60%;
    width: 60%;
    object-fit: contain;
}

#stacks {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 20rem 20rem 20rem;
    grid-template-rows: 10rem 10rem 10rem;
    justify-content: center;
    row-gap: 1.5rem;
    column-gap: 1.5rem;
    width: 100%;
    perspective: 800px;
}

.stack {

    animation: flutuar 8s linear infinite;
}

@keyframes flutuar {
    from {
        transform: translateY(0deg) translateZ(150px);
    }

    to {
        transform: translateY(360deg) translateZ(150px);
    }
}

/* ==================== EXPERIÊNCIAS ==================== */

h4 > a {
    color: rgb(179, 177, 177);
}

.exp{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.item-experiencia, .item-formacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #101828;
    border: 1px solid #879bce;
    height: 10rem;
    width: 25rem;
    border-radius: 10px;
}

.item-experiencia:hover,.item-formacao:hover {
    background-color: #20273c;
    transition: all ease-in-out .4s;
}

.item-experiencia > h3, .item-formacao > h3{
    padding: 1rem;
    text-align: center;
    color: white;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.item-experiencia > h4, .item-formacao > h4{
    border-radius: 30px;
    width: fit-content;
    border: 1px solid whitesmoke;
    padding: 1rem;
    text-align: center;
    color: rgb(179, 177, 177);
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.exp > h2 {
    text-align: center;
    font-size: 5rem;
}

.divisao{
    display: flex;
    width: 100%;
    height: 80vh;
    justify-content: center;
    gap: 9rem;
}

#experiencias{
    text-align: center;
}

#pagina-experiencias {
    position: relative;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#pagina-experiencias::before {
    content: "";
    position: absolute;
    /* margin-top: -15rem; */
    width: 100vw;
    inset: 0;
    background-image: url("../images/bg-4.jpg");
    background-size: cover;
    opacity: 0.4;
    z-index: -1;
}

/* ==================== RODAPÉ ==================== */

footer{
    width: 100dvw;
    height: 6rem;
    background-color: var(--hover);
    display: flex;
    align-items: center;
    justify-content: center;
}

#contatos{
    display: flex;
    gap: 5rem;
}

footer .linkContato{
    color: grey;
}