@font-face {
    font-family: "Glacial Indifference";
    src: url("../fonts/GlacialIndifference-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Glacial Indifference bold";
    src: url("../fonts/GlacialIndifference-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

:root {
    --fundo: #080D1A;
    --primario: #3B82F6;
    --secundario: #A78BFA;
    --hover: #1E293B;
    --base-font: 'Glacial Indifference', sans-serif;
    --bold: 'Glacial Indifference bold', sans-serif;
    --menu-font: 'Barlow Condensed', sans-serif;
}

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: var(--base-font);
    font-weight: normal;
    font-style: normal; 
}

body {
    background-color: var(--fundo);
    width: 100dvw;
    display: flex;
}


/* ==================== ASIDE / MENU ==================== */

#lista-menu {
    top: 32dvh;
    left: 9rem;
    position: fixed;
    /* background-color: var(--primario); */
    transform: rotate(45deg);
    height: 20rem;
    width: 20rem;
    display: grid;
    gap: .4rem;
    grid-template-columns: 10rem 10rem;
    grid-template-rows: 10rem 10rem;
    border-radius: 10px;
    opacity: 70%;
}

ul li a {
    color: inherit;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.item-menu {
    color: inherit;
    font-size: 1.6rem;
    font-family: var(--menu-font);
    letter-spacing: 1px;
    background-color: var(--primario);
}

.item-menu a {
    display: flex;
    align-items: center;
    transform: rotate(90deg);
    justify-content: center;
    
}

.item-menu a span {
    transform: rotate(-135deg);
}

#lista-menu > .item-menu:hover {
    background-color: var(--hover);
    color: var(--secundario);
    transform: scale(1.2);
    transition: background-color 0.6s, transform 0.9s, color 0.6s;
}

/* ==================== PROJETOS ==================== */

#projects{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.project > *{
    width: 100%;
}

.project{
    width: 50%;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.project-header{
    text-align: center;
    font-size: 12pt;
}

/* ==================== MAIN / SEÇÕES ==================== */

main {
    width: 75%;
    position: absolute;
    right: 0px;
}

section {
    height: 100vh;
    width: 100%;
}


/* ==================== TÍTULOS ==================== */

.titulo-principal {
    color: var(--secundario);
    font-size: 70pt;
    height: 4.5rem;
}

.titulo-principal-azul {
    color: var(--primario);
    font-size: 70pt;
    text-align: center;
}

.sub-titulo {
    font-size: 25pt;
    color: var(--primario);
}


/* ==================== PÁGINA INICIAL ==================== */

#pagina-inicial {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15rem;
    gap: 2rem;
}

#foto-perfil {
    border-radius: 100%;
    width: 20rem;
    height: 20rem;
}


/* ==================== TECNOLOGIAS ==================== */

#pagina-tecnologias {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#stacks {
    display: grid;
    grid-template-columns: 20rem 20rem 20rem;
    grid-template-rows: 10rem 10rem 10rem;
    justify-content: center;
    row-gap: 1.5rem;
    column-gap: 1.5rem;
    width: 100%;
}

.stack {
    background-color: var(--secundario);
    border-radius: 10px;
}